<style>
/* The container */
.contx{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: #566573 ;
  line-height: 26px;
}

/* Hide the browser's default checkbox */
.contx input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 10px;
  height: 22px;
  width: 21px;
  border-radius: 5px;
  border: 1px solid #B2BABB;
    background: transparent;
}


/* When the checkbox is checked, add a blue background */
.contx input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contx input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.contx .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container for Token */
.contx2{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: #566573 ;
  line-height: 26px;
}

/* Hide the browser's default checkbox */
.contx2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0px;
  height: 22px;
  width: 21px;
  border-radius: 5px;
  border: 1px solid #B2BABB;
    background: transparent;
}


/* When the checkbox is checked, add a blue background */
.contx2 input:checked ~ .checkmark2 {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.contx2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.contx2 .checkmark2:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
