<style>
    @font-face {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 400;
        src: url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-regular.woff') format('woff'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-regular.ttf') format('truetype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-regular.svg#opensans-regular') format('svg');
    }

    @font-face {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        src: url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold.woff') format('woff'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold.ttf') format('truetype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold.svg#opensans-semibold') format('svg');
    }

    @font-face {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        src: url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light.eot?#iefix') format('embedded-opentype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light.woff') format('woff'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light.ttf') format('truetype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light.svg#opensans-light') format('svg');
    }

    @font-face {
        font-family: videoplayer;
        font-style: normal;
        font-weight: normal;
        src: url('https://static.chasecdn.com/content/dam/cpo-static/fonts/videoplayer.eot?#iefix') format('embedded-opentype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/videoplayer.woff') format('woff'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/videoplayer.ttf') format('truetype'), url('https://static.chasecdn.com/content/dam/cpo-static/fonts/videoplayer.svg#videoplayer') format('svg');
    }

    html {
        height: 100%;
        background: #fff;
    }
</style>




.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat #245d91;
    background-size: 10%;
}
